<% layout('layouts/boilerplate')%>

<div id="cluster-map"></div>
<div class="container show-container">
    <div class="section-title">
        <h1>Search and view our Tours</h1>
    </div>
    <div class="mb-4">
        <form action="/tours" method="GET" class="d-flex">
            <input class="form-control form-search mr-2" type="search" name="search" placeholder="Search a tour" aria-label="Search">
            <button class="btn btn-outline-warning" type="submit">Search</button>
        </form>
    </div>

    <% if(noMatch !== null) { %>
        <h3 class="search-title"><%= noMatch %></h3>
        <% } %>
    <% for (let tour of tours){%>

    <div class="card description">
        <div class="row">
            <div class="col-md-4">
                <%if(tour.images.length) {%>
                <img class="img-fluid" alt="" src="<%=tour.images[0].url%>">
                <% }else {%>
                <img class="img-fluid" alt=""
                    src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/YelpCamp/lz8jjv2gyynjil7lswf4.png">
                <% } %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= tour.title %> </h5>
                    <p class="card-text"><%= tour.description.substring(0, 250) %></p>
                    <p class="card-text">
                        <small><%= tour.location%></small>
                    </p>
                    <button><a href="/tours/<%=tour._id%>">View <%=tour.title%></a></button>
                </div>
            </div>
        </div>
    </div>
    <% }%>
    
    <nav aria-label="Page navigation">
        <% if (pages && pages > 0) { %>
        <ul class="pagination justify-content-center">
            <% if (current == 1) { %>
            <li class="page-item disabled"><a class="page-link">«</a></li>
            <% } else { %>
            <li><a class="page-link" href="/tours?page=<%= Number(current) - 1 %>">«</a></li>
            <% } %>
    
            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if (i !== 1) { %>
            <li class="page-item disabled"><a class="page-link">...</a></li>
            <% } %>
            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
            <% if (i == current) { %>
            <li class="active"><a class="page-link"><%= i %></a></li>
            <% } else { %>
            <li><a class="page-link" href="/tours?page=<%= i %>"><%= i %></a></li>
            <% } %>
            <% if (i == Number(current) + 4 && i < pages) { %>
            <li class="page-item disabled"><a class="page-link">...</a></li>
            <% } %>
            <% } %>
    
            <% if (current == pages) { %>
            <li class="page-item disabled"><a class="page-link">»</a></li>
            <% } else { %>
            <li><a class="page-link" href="/tours?page=<%= Number(current) + 1 %>">»</a></li>
            <% } %>
        </ul>
        <% } %>
    </nav>

</div>
<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const tours = { features: <%- JSON.stringify(tours) %>}
</script>

<script src="/javascripts/clusterMap.js"></script>