<% layout('layouts/boilerplate')%>

<div class="row">
	<div class="col-md-6 info mb-3">
		<div class="card">
			<img src="<%= user.avatar[0].url %>" class="card-img-top" alt="user profile image">
			<div class="card-body">
				<h5 class="card-title"><%= user.firstName + " " + user.lastName %></h5>
				<p class="card-text"><%= user.description %></p>
				<a href="mailto:<%= user.email %>">Get in touch with me!</a>
  			</div>
		</div>
	</div>
	<div class="col-md-6 mb-3">
		<div class="tours">
			<h3><%= user.username %>'s tours:</h3>
			<ul>
			<% for (let tour of tours) { %>
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><a href="/tours/<%= tour._id %>"><%= tour.title %></a></li>
				</ul>
			<% } %>
			</ul>
		</div>
	</div>
</div>